textarea {
	outline: none;
}

.form-control {
	font-size: 1.4rem;
	border-radius: 0;
	&:focus {
		border-color: none;
	}
}

.input-group-text {
	border-radius: 0;
}

.flash {
	text-transform: uppercase;
	text-align: center;
	transform: translateY(-30px);
	opacity: 1;
	animation: fadeUp 2s forwards;
	@include mq-sp {
		line-height: 1.4rem;
		font-size: 1.4rem;
		transform: translateY(-20px);
	}
}
