.mission {
	color: $color-black;
	padding: 10rem;
	text-align: center;
	@include mq-sp {
		padding: 3rem;
	}
	&__heading {
		font-family: 'charm', sans-serif;
		font-size: 5rem;
		@include mq-sp {
			font-size: 2.4rem;
		}
	}
	&__text {
		width: 80%;
		@include mq-sp {
			font-size: 1.4rem;
			width: 100%;
		}
	}
}
