.topview {
	height: 100vh;
	background: url('https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80')
		center/cover no-repeat;
	@include mq-sp {
	}
	&__logo {
		display: inline-block;
		height: 12rem;
		width: 12rem;
		background: url('#{$image-path}/namelogo-mask.png') center/cover no-repeat;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include mq-sp {
			width: 10rem;
			height: 10rem;
		}
	}
}
