.u-mt-xl {
	margin-top: 12rem;
}
.u-mt-lg {
	margin-top: 8rem;
}
.u-mt-md {
	margin-top: 4rem;
}
.u-mt-sm {
	margin-top: 2rem;
}
.u-mt-xs {
	margin-top: 1rem;
}
.u-mb-xl {
	margin-bottom: 12rem;
}
.u-mb-lg {
	margin-bottom: 8rem;
}
.u-mb-md {
	margin-bottom: 4rem;
}
.u-mb-sm {
	margin-bottom: 2rem;
}
.u-mb-xs {
	margin-bottom: 1rem;
}
