// color palette
$color-black: #58595a;
$color-grey-dark: #a6a8ab;
$color-grey: #d0d2d3;
$color-grey-light: #f2f2f2;

// break points
$sp-max-width: 768px;
$pc-min-width: 769px;

// path
$image-path: '../img';
