.about {
	color: $color-black;
	padding: 3rem;
	h2 {
		font-family: 'charm', sans-serif;
		font-size: 8rem;
		@include mq-sp {
			font-size: 4.8rem;
		}
	}
	p {
		margin-top: 4rem;
		@include mq-sp {
			font-size: 1.4rem;
		}
		a {
			color: $color-black;
			text-decoration: underline;
		}
	}
}

.about-row {
	align-items: center;
	justify-content: space-between;
}
